{% extends 'base.html' %}


{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, provident nisi mollitia impedit amet, similique aliquam voluptatum reprehenderit voluptates, ut quo nobis voluptas. Eius libero molestias corporis natus deleniti harum, voluptatem soluta quis inventore. Quas exercitationem voluptate inventore incidunt veniam quaerat officiis earum, excepturi nihil minus, culpa velit rerum cumque!</p>
    </section>
</main>

{% endblock %}